:root {
  --bgColor: #171f28;
  --color: rgba(255, 255, 255, 0.8);
  --hColor: #fff;
  --linkColor: #4d78cc;
  --linkBgColor: #2e353d;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", "Avenir", Helvetica, Arial, sans-serif;
  background-color: var(--bgColor);
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  color: var(--color);
}

#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;

  header {
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

  main {
    flex: 1;
  }

  footer {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
  }
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--hColor);
}
